<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dothisapiv1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dothisapiv1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dothisapiv1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dothisapiv1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DoThisEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User ID=dothisapp@dothisdatabase;Password='b+/v8z7h0q|0CGU~4K0%A&quot;6s!ZlD'" Name="Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User Id=dothisapp@dothisdatabase;Password=b+/v8z7h0q|0CGU~4K0%A&quot;6s!ZlD" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication2.Models.DoThisEntities1, WebApplication2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User ID=dothisapp@dothisdatabase;Password='b+/v8z7h0q|0CGU~4K0%A&quot;6s!ZlD'" Name="Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User Id=dothisapp@dothisdatabase;Password=b+/v8z7h0q|0CGU~4K0%A&quot;6s!ZlD" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication2-20160521122852.mdf;Initial Catalog=aspnet-WebApplication2-20160521122852;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication2-20160521122852.mdf;Initial Catalog=aspnet-WebApplication2-20160521122852;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DoThisEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User ID=dothisapp@dothisdatabase;Password='b+/v8z7h0q|0CGU~4K0%A&quot;6s!ZlD'" Name="Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User Id=dothisapp@dothisdatabase;Password=b+/v8z7h0q|0CGU~4K0%A&quot;6s!ZlD" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-EDDUPRH\SQLEXPRESS;Initial Catalog=DoThis;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DoThisEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.TaskModel.csdl|res://*/Models.TaskModel.ssdl|res://*/Models.TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EDDUPRH\SQLEXPRESS;initial catalog=DoThis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User Id=dothisapp@dothisdatabase;Password=b+/v8z7h0q|0CGU~4K0%A"6s!ZlD</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DoThisEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TaskModel.csdl|res://*/Models.TaskModel.ssdl|res://*/Models.TaskModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:dothisdatabase.database.windows.net,1433;initial catalog=dothisapiv1_db;user id=dothisapp@dothisdatabase;password='b+/v8z7h0q|0CGU~4K0%A""6s!ZlD';MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DoThisEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Task.csdl|res://*/Models.Task.ssdl|res://*/Models.Task.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tcp:dothisdatabase.database.windows.net,1433;Initial Catalog=dothisapiv1_db;User Id=dothisapp@dothisdatabase;Password=b+/v8z7h0q|0CGU~4K0%A"6s!ZlD'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>